.add-produ_deta{
    padding: 20px 30px;
    margin: 0 15px;
    height: 100%;
}
/* estilos para labels de formularios */
.labels-dash-sty{
    color: var(--color-brd-input);
    display: block;
    font-size: 1vw;
    font-family: var(--fuente-OPENSANS);
}

/* estilos para inputs de formularios administracion */
.grup_field_dash{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 40px;
}
    .grup_field_dash .row_field_form{
        grid-column-start: span 2;
        margin: 0 0 7px 0;
    }
    .grup_field_dash .row_field_form.div{
        grid-column-start: auto;
    }
.input-dash-sty{
    display: block;
    width: calc(100% - 30px);
    font-size: 1vw;
    border: none;
    font-family: var(--fuente-OPENSANS);
    border-bottom: 1px solid var(--color-brd-input);
    padding: 10px 15px;
    outline: none;
    color: var(--color-text-negro-bajo);
}

/* estilos para textarea (descripcion) */
.textarea-dash-sty{
    width: calc(100% - 34px);
    height: 100px;
    resize: none;
    outline: none;
    border-radius: 7px;
    padding: 15px;
    font-family: var(--fuente-OPENSANS);
    border: solid 2px var(--color-brd-input);
    color: var(--color-text-negro-bajo);
    margin-top: 10px;
    font-size: 1vw;
}


.file_input_text {
    position: relative;
    background-color: var(--color-amarillo-principal);
    color: var(--color-text-negro-bajo);
    font-size: 1rem;
    font-weight: bold;
    justify-content: center;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 7px;
}
.file_input_text .file_text {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;  
    opacity: 0;
    outline: none;
    width: 100%;
}
.btn-add-data-produ{
    border: none;
    cursor: pointer;
    background-color: var(--color-rojo-oscuro);
    color: var(--color-blanco);
    font-family: var(--fuente-OPENSANS);
    font-size: .9rem;
    padding: 10px 20px;
    border-radius: 7px;
    font-weight: bold;
  }